.logo-image{
  width: 50px;
  height: 50px;
}

.logo-section{
  text-align: center;
  margin: auto;
  position: relative;
}

.social-icon{
  right: 0;
  margin: 1rem;
  position: absolute;
  color: white;
}

.half-rule{
  width: 50%;
}

.hero{
  width: 100vw;
  height: 51vw;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../static/images/singing-bowl.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-static-top{
  position: absolute;
  display: inline-block;
  background-color: none;
}

.hero h1{
  text-decoration: overline;
  text-decoration-color: #d13d3f;

  color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.m-top{
  padding-top: 5% !important;
}

.navbar{
  width: 100%;
}

.nav-link{
  color:white !important;
}

.topi{
  margin: auto;
}

.nav-item{
  padding-left: 15px;
}

.nav-link:hover{
  background-color: white;
  color: black !important;
}

.card{
  border: none;
  padding-bottom: 5%;
}

.card a {
  color: black;
  text-decoration: none;
}


.card-img-top{
  width: 350px;
  height:350px;
}
.card-body{
  text-align: center;
  margin-top: 1rem;
  padding: 0;
}

.card-img{
  width: 350px;
  
}

.card-title{
  height: 10px;
  
}

.plate {
    padding: 4rem 0;
    width: 100%
}

.plate-grey-light {
    background-color: #f3f3f4
}

.plate-grey {
    background-color: #40464d
}

.plate-grey .button {
    color: #40464d
}


.btn {
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #ffe0e1 !important;
  background-color: #d13d3f !important;
  border-color: #d13d3f !important;
  border-radius: 0;
}

.btn:hover{
  background-color: #ffe0e1 !important;
  border-color: #ffe0e1 !important;
  color: #d13d3f !important;
}

.bg-dark{
  background-color: #d13d3f !important;
}

.post-body{
  padding-top: 0%;
  padding-left: 1%;
  padding-right: 1%;
}

.post-column{
  float: left;
}

.post-image {
  width: 70%;
}

.post-description {
  width: 30%;
  margin: 0;
}

.post-description h2 {
  margin: 0;
}

.modal-body{
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.modal-dialog {
    max-width: 1000px;
    width:100%
}