.logo-image{
  width: 50px;
  height: 50px;
}

.logo-section{
  text-align: center;
  margin: auto;
  position: relative;
}

.social-icon{
  right: 0;
  margin: 1rem;
  position: absolute;
  color: white;
}

.half-rule{
  width: 50%;
}

.hero{
  width: 100vw;
  height: 51vw;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../static/images/singing-bowl.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-static-top{
  position: absolute;
  display: inline-block;
  background-color: none;
}

.hero h1{
  text-decoration: overline;
  text-decoration-color: red;

  color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar{
  width: 100%;
}

.topi{
  margin: auto;
}

.nav-item{
  padding-left: 15px;
}

.nav-link:hover{
  background-color: white;
  color: black;
}

.card{
  border: none;
}

.card-body{
  text-align: center;
  margin-top: 1rem;
  padding: 0;
}

.see-all-button{
  width: 100%;
  margin: auto;
}
